# Dependencies
node_modules/

# Build output
build/

# TypeScript
*.tsbuildinfo

# Logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
